<div class="container-fluid">
  <div class="row justify-content-between table-header">
    <div clas="col-4">
      <h2>Lista de usuarios</h2>
    </div>
    <div class="col-2">
      <button
      (click)="newUser()"
      type="button"
      class="btn btn-outline-success">Agregar usuario</button>
    </div>
  </div>

  <div class="row">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Es administrador</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.id}}</th>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.is_superuser? 'Sí' : 'No'}}</td>
          <td>
            <a [routerLink]="['/user-detail', user.id]" class="padding-left-small"><i class="far fa-edit"></i></a>
            <a (click)="deleteUser(user.id)" class="padding-left-small red"><i class="far fa-times-circle"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
