.wrapper{
      padding:0;
      margin:0;
      font-family: 'Dosis', sans-serif;
      overflow-x:hidden;
      background: linear-gradient(to right, #ff512f, #dd2476);
      height:100vh;
}

.btn-primary{
  background: linear-gradient(to right, #ff512f, #dd2476);
  border:0px;
}
